*{
  margin: 0; 
}

#angel{
  background-color: #ffffff;
  padding-top: 3rem;
  border: #000000 solid 1px;
  padding-bottom: 20px;
  padding-bottom: 20px;
  
}

.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: #efefef;
  padding: 15px; 
  border: #000000 solid 1px;
}
.img-car:hover{
  width: 45px;
}

.nav-options {
  display: flex;  
}

.nav-item {
  list-style: none; /*quita estilos de lista*/
  margin: 0px 10px 0px 10px;
  text-decoration: none;
}

.nav-item a {
  text-decoration: none; /*quita estilos de letras*/
  color: #000000;
  font-weight: bold;
  font-size: 20px;
  font-family: 'Times New Roman', Times, serif;
}

.nav-item :hover{ 
  border: #000000 solid 1px;
  border-radius: 5px;
  padding: 5px;
  background-color: #e6e3e3;
}


/* section juan*/

.acercade-titulo{
  background-color: #ffd369;
  color: #000000;
  text-align: center;
  width: 50%;
}
.bg{
  background-color: #222831;
}

.acercade >p{
  color: #ffffff;
}
.tamañobtn{
  width: 200px;
  border-radius: .5em;
}

.container-md{
  width: 50em;
  height: 40em;  
  background-repeat: no-repeat;
  background-position: center;
  opacity: .8;
  position: 50%;
  background-image: url(https://images.unsplash.com/photo-1460353581641-37baddab0fa2?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1171&q=80);
}

.texto-banner{
  color: #000000;
  font-weight: 700;

  border-bottom: #efefef 1px solid;

 
}
.texto-banner2{
  color: #000000;
  font-weight: 700 ;
  padding: .5em;
  border-bottom: #efefef 1px solid;
}

/* section cris*/


.img_men_women{
  height: 500px - 5rem;
  min-height: 320px !important;
  min-width: 320px;
  width: 100%;
  object-fit: cover !important;
}

.carousel-caption-2{
  background: black;
  opacity: 50%;
  height: auto; 

}
.description_shoes{
  height: 80%;
  display: flex;
  align-items: center;
}

#angel{
  background-color: #ffffff;
  padding-top: 3rem;
  border: #000000 solid 1px;
  padding-bottom: 00.5rem;
  
}




.compra{
  display: flex;
  background-color: #ffffff00;
  justify-content: space-around;
  flex-wrap: wrap;
  
  
}
.item-tarjeta{
  background-color: #ffffff;
  border: #000000 solid 2px;
  position: relative;
  width: 200px;
  height: 400px;
  padding-bottom: 30px;
  margin-bottom: 42px;
  box-sizing: content-box;
  
}

.tarjeta-car {
  height:60%;
  box-sizing: border-box;
  
  
  
} 
.flechas{
  
  width: 100%;
  height: 60%;
  position: absolute;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
  box-sizing: border-box;
}
  
#car-1{
  overflow: hidden;
  height: 460px;
  
}

#car-2{
  overflow: hidden;
  height: 460px;
}
#car-3{
  overflow: hidden;
  height: 460px;
}

.text{
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-end;
  width: 200px;
  box-sizing: border-box;
  
  
  
  
}
.p-1 {
  width: 200px;
 font-size: 20px;
  background-color: #000000;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
  box-sizing: border-box;
}
.p-21 {
  width: 200px;
 font-size: 20px;
  background-color: #ffffff;
  color: #000000 ;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  box-sizing: border-box;
  
}
.a-1 {
  text-decoration: none;
  width: 200px;
 font-size: 20px;
  background-color: #f1c132;
  color: #000000 ;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  box-sizing: border-box;
}

.a-2 {
  text-decoration: none;
  width: 200px;
 font-size: 20px;
  color: #000000 ;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  box-sizing: border-box;
}
 .item-tarjeta i {
  color: #00000061;
}
.item-tarjeta i:hover{
  color: #000000;
  border: #000000 solid 1px ;
  border-radius: 50%;
}

.item-tarjeta img{
  width: 200px;
  height: 100%;
}

.todo{
  background-color:#502020;
}
 
.sti{
  background-color: rgb(201, 201, 139);
}
.margen{
  border: rgb(230, 216, 95) solid;
  margin-bottom: 2%;
  margin-right: 2%;
  padding-bottom: 2%;
}
.bb-title{
  position: absolute;
  top: 35%;
  left: 10%;
  color: #fff;
}

.bb-title::before{
  content:'';
  position: absolute;
  background-color: #7D18FD;
  width: 84%;
  height: 0.375em;
  top: 100%;
}

.contenedor{
    position: relative;
}

#tamaño{
  width: 400%;
}
.contiene{
  width: 50%;
}
.contiene2{
  width: 50%;
}
.todo{
  background-color: rgb(110, 41, 41);
}

p{
  margin-bottom: 0px !important;
}

.descuento{
  background-color: #ffd369;
  color: #000000;
  font-size: 2
  em;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;

}

.btn_link:hover{
  color: #ffd369;
}
.btn_link{
  color: #000000;
  font-size: 1.5em;
  text-decoration: none;
}

.w-10{
  width: 50px;
}

.bg-login{
  background-color: #222831;
  color: #f1c132;
}

.img-bg{
  background-position: center center;
  background-repeat: no-repeat;
  background-image:url(https://images.unsplash.com/photo-1600054904350-1d493ae5f922?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=765&q=80) ;
}