*{
    margin: 0;
}

.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #efefef;
    padding: 15px; 
    border: #000000 solid 1px;
}
.img-car:hover{
    width: 45px;
}

.nav-options {
    display: flex;  
  }

  .nav-item {
    list-style: none; /*quita estilos de lista*/
    margin: 0px 10px 0px 10px;
    text-decoration: none;
  }

  .nav-item a {
    text-decoration: none; /*quita estilos de letras*/
    color: #000000;
    font-weight: bold;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
  }

  .nav-item :hover{ 
    border: #000000 solid 1px;
    border-radius: 5px;
    padding: 5px;
    background-color: #e6e3e3;
  }

<<<<<<< HEAD
  /* section juan*/
  
  .acercade-titulo{
    background-color: #ffd369;
    color: #000000;
    text-align: center;
    width: 50%;
}
.bg{
    background-color: #222831;
}

.acercade >p{
  color: #ffffff;
}
.tamañobtn{
    width: 200px;
    border-radius: .5em;
}

.container-md{
width: 50em;
height: 40em;  
background-repeat: no-repeat;
background-position: center;
opacity: .8;
position: 50%;
  background-image: url(https://images.unsplash.com/photo-1460353581641-37baddab0fa2?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1171&q=80);
}

.texto-banner{
  color: #000000;
  font-weight: 700;

  border-bottom: #efefef 1px solid;

 
}
.texto-banner2{
  color: #000000;
  font-weight: 700 ;
  padding: .5em;
  border-bottom: #efefef 1px solid;
}
=======

.img_men_women{
  height: 500px;
  width: 100%;
  object-fit: cover !important;
}

.carousel-caption{
  background: black;
  opacity: 50%;
  height: 40%;

}
.description_shoes{
  height: 80%;
  display: flex;
  align-items: center;
}
>>>>>>> cristian/section_3
